@font-face {
  font-family: "Stylish";
  src: url("Stylish-Regular.ttf");  // Give relative path to your css file.
}
body {
background-image: url("../images/texture.jpg");    
}
.first-screen {
width: 100%;
min-height: 100vh;
padding-top: 80px;
text-align: center;    
background-image: url("../images/texture.jpg");    
}
#header {
width: 100%;
position: fixed;
top: 0;
z-index: 1041;    
}
#footer {
font-family: 'Stylish', sans-serif;    
height: 100%;
min-width: 100vw;    
position: sticky;
bottom: 0;
z-index:1041;    
}
.header {
height: 100%;
background: #00086b;
text-align: center;      
}
.header-image{
max-width: 40vw;
min-width: 260px;    
height: auto; 
display: inline;    
}
#menu {
color: #ffffff;   
text-align: right;
padding-top: 3px; 
bottom: 0;
margin-bottom: -1px;    
background: #00086b;  
position: fixed;    
}
.sticky {
position: sticky;    
}
.second-screen-main {
margin-top: calc(40px + 4.2%);    
}
.second-screen {
font-family: 'Stylish', sans-serif;
color: white;
font-size: calc(15px + 1vw);
width: 100%;
height: 100%;
text-align: center; 
padding-bottom: 40px;    
}
.item1 {
background: purple;
border: 2px solid white;    
border-radius: 5px;    
}
.item2{
background: orange;
border: 2px solid white;       
border-radius: 5px;     
}
.item3{
background: #10ec10;
border: 2px solid white;       
border-radius: 5px;     
}
.instruction-title {
font-size: calc(20px + 1.5vw);
text-align:center;
margin-bottom: 20px;
padding-top: 2%;
}
.first-instructions {
margin-left:9%;
margin-right:9%;
}

.btn-outline-success {
margin-top: 3.5%;
margin-bottom: 15px;
color: #ffffff;
font-size: 20px;  
}
.btn-outline-info{
margin-right: 3%;
margin-bottom: 15px;
color: #ffffff;
font-size: 20px;
}
.shuffling {
width: 57vw;
margin: auto;
position: absolute;    
left: 0;
right: 0;
top: 0;
bottom: 0;    
}
.img {
display:inline;
width: 7.5vw;
min-width: 35px;    
margin-right: 15px; 
margin-bottom: 10px; 
border: 2px solid #ffffff;
border-radius: 2px;        
}
.selected {
opacity: 0.5;    
}
#show-cards {
padding-top: 1%;
margin-left: 3.5%;
margin-right: 3.5%;   
}
#cards {
text-align: center;
}
.spread {
width: 18vw;
min-width: 40px;     
border: 4px solid #ffffff;
border-radius: 4px;    
margin-right: 5px;    
display: inline;
}
.spread2 {
width: 16vw;
min-width: 40px;     
border: 4px solid #ffffff;
border-radius: 4px;    
margin-right: 5px; 
margin-bottom: 3px;    
display: inline;
}
.display2 {
display: none;
}
.meaning { 
padding-top: 10px;    
}
.no-scroll {
position: fixed;    
}
.modal2 {
overflow-y: hidden !important;    
}
.modal-content2 {
height: 60vh !important;    
}
.modal-body2 {
overflow-y: auto !important;    
}