
<div>
<img id="outhelp" style="margin-top: -45px;display: inline;" src="images/goback.png" onclick="showHelp(this.id);" /></i>
</div>
<div style="padding-right:5px;padding-left:5px;">
    
<p class="item1">How does this app work?</p>    
<p>To start a reading you are required to intuitively select a number between 1 and 9 after formulating your question in your mind. This process basically tells the app how many times it must shuffle the cards before letting you choose three or five of them. It's similar to what happens with a physical deck when the tarot reader or their client shuffle the deck until they feel the cards are well mixed. It's important to point that the algorithm used here guarantees a completely random shuffling without any pre-established order.</p>
    
<p class="item2">What is a spread?</p>    
<p>It's simply the way you read the cards. A three cards spread generally shows the past, present, and the future. A five cards spread generally shows the past, recent past, present, near future, and future. To switch between these two spreads, click on the button <img src="images/menu.png" style="display: inline;" /> in the bottom right corner. </p>
    
<p class="item3">Can I ask the same question twice?</p>    
<p>You shouldn't ask the same thing before at least 30 days, otherwise, you could end up receiving answers that don't translate the real situation but only tell you what you want to hear.</p>
    
<p class="item1">Can I ask yes or no questions?</p>
<p>It depends on how good you are at interpreting the cards. Generally, it's hard to say if something will or won't happen without taking the whole conjuncture into account because the universe isn't binary.</p>
    
</div>

