<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="font-family: 'Stylish', sans-serif;">
      <div class="modal-header">
        <h5 class="modal-title" style="color:#000000;" id="warningModalLongTitle">Warning</h5>
      </div>
      <div class="modal-body" style="text-align: center;">
        You're about to exit the app, do you want to continue?<br><span style="font-weight: bold" onclick="exitApp()">Yes / </span><span id="no" style="font-weight: bold" onclick="backKeyDown(this.id)">No</span>
      </div>
    </div>
  </div>
</div>

